@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#myAppContainer {
  color: #000000;
  background: #ffffff;
}
#myAppContainer.dark {
  color: #ffffff;
  background: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
